@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-dark: #252B42;
    --color-azul: #23A6F0;
    --color-cinza-400: #737373;
    --color-cinza-100: #F6F6F6;

    --font-montserrat: 'Montserrat', sans-serif;
}